@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

body{
    font-family: "Oswald", sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}
/* Barre de navigation*/
nav *{
    margin: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F5F5F5;
}

nav ul{
    display: flex;
    justify-content: space-around;
    position: fixed; top: 0;
    width: 100%;
    list-style: none;


}

h1 {
    font-size: 3em;
    font-weight: 400;

    &.luca-title {
        font-weight: 200;
        padding: 10px;
        border-bottom: 1px solid #161925;
    }
}

button {
    font-family: "Oswald";
    font-size: 3em;
    font-weight: 100;
    padding: 20px 30px;
    border-radius: 5px;
    background-color: #CBF7ED;
    color: #161925;
    border: 2px solid #161925;
    margin-bottom: 20px;
}

button:hover {
        background-color: #2BDEB4;
        transition: background-color ease-in-out 0.2s, color ease-in-out 0.2s;
    }


/*Organisation des sections principales*/
#main .main-section:nth-child(odd) {
    background-color: #D7E0EA;
    color: black;
}

#main .main-section:nth-child(even) {
    background-color: #161925;
    color: white;
}

.main-section {
    padding: 5% 15%;
}

/*Partie projets*/

#projects-container {
    display: flex;
    flex-wrap: wrap;
    gap: calc(10%/3);
    margin: auto;
    justify-content: center;
}

.project-card {
    width: 30%;
}


.project-image img{
    height: auto;
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    object-position: top;
}

.project-modal-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
}

.project-modal-wrapper:not(.show) {
    display: none;
}

.project-modal {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    background-color: white;
    color: #161925;
    width: 50%;
    height: auto;
    margin: auto;
}

.project-modal-control {
    padding-right: 30px;
    text-align: end;
}

.project-modal-image {
    display: flex;
    width: 50%;
    margin: auto;
}
.project-modal-image img {
    width: 100%;
}

#about-luca {
    display: flex;
}

#about-flavour{
    width: 60%;
    font-size: 1.4rem;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#about-picture {
    width: 30%;
    border-radius: 50%;
}

#about-picture img {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}


.skills-container {
    border-radius: 10px;
    color: black;
    background-color: white;
    display: flex;
    width: 80%;
    margin: auto;
}

.skill-pill-container {
    margin: auto;
    width: 80%;    
    flex-wrap: wrap;
    display: flex;
    gap: 15px;
    justify-content: center;
}

.skill-pill {
    display: flex;
    align-items: center;
    height: 30px;
    padding: 10px 15px;
    border: 1px solid black;
    border-radius: 30px;

    &:hover{
        color: white;
        background-color: #161925;
        transition: background-color ease-in-out 0.2s;
    }
}

.skills-section {
    width: calc(100%/3);
    padding: 40px 10px;
    border-radius: 5px;
}


.form-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 10px; margin-bottom: 10px;
}

.form-input {
    text-align: left;
}

input {
    height: 30px;
}
@media (max-width:1024px) {
    *{
        box-sizing: border-box;
    }

    .projects-container {
        margin: auto;
        gap: 0;
        justify-content: center;
    }
    .project-card {
        width: 40%;
        gap: 5%;
    }
    .skills-container{
        flex-direction: column;
        width: 100%;
    }

    .skills-section{
        width: 100%;
        padding: 20px 10px;
    }

    .spotify-playlist {
        width: 90%;
    }

    .about-luca {
        display: block;
        flex-direction: row;
    }
}

@media (max-width: 772px) {
    .project-card {
        width: 100%;
    }

    .about-luca {
        display: block;
        flex-direction: row;
    }
}